.badge {
    background: $branding_gray;
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 50px;

    &.green {
        background: $success-color;
    }

    &.red {
        background: $danger-color;
    }
}
