.btn {
    font-size: 14px;
    background: $branding_color;
    padding: 6px 14px;
    color: $white;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--danger {
  background: $danger_color;
  font-size: 1.4rem;
  font-weight: $normal;
}

.btn--full-width {
  width: 100%;
}
