.btn {
  font-size: 1.2rem;
  font-weight: $semibold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $branding_color;
  padding: 2rem 3.5rem;
  color: rgba($white, 0.8);
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $bc1;
    color: rgba($white, 1);
  }
}

.btn--danger {
  background: $danger-color;
  font-weight: $normal;
}

.btn--full-width {
  width: 100%;
}
