// Form Elements
// ------------------------------------------------------------------------------------ */
@mixin well($color, $size1, $size2)
{
  box-shadow: inset 0px 0px $size1 $size2 $color;
}

// Form Well Placeholder
%form-well {
    @extend %clearfix;
//    @include well(rgba($black, 0.02), 5px, 4px);
    background: rgba($black, 0.05);
    padding: $main_padding/4;
    margin: 0 0 $main_margin/2;
}

// Form Base Class
// ------------------------------------------------------------------------------------ */
.form {
}

.form__label {
    font-size: 1.6rem;
    display: block;
    text-align: right;
    padding: 0 10px 0 0;
    color: #666;
    margin-bottom: 20px;
}

// Text Inputs
// ------------------------------------------------------------------------------------ */
.form__text {
    @extend %form-well;
    float: left;
    width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

    .form__text-input {
        float: right;
        width: 60%;
        margin: -2px 0 0;
        padding: $main_padding/8;
    }

    .form__text-label {
        @extend .form__label;
        margin: 7px 0 0;
        float: left;
        text-align: right;
        color: #666;
    }
}

.form__text-input {
  font-family: $avenir;
    font-size: 1.6rem;
    appearance: none;
    border-radius: 2px;
    border: 1px solid #CCC;
    margin: 0 0 $main_margin;
    width: 100%;
    outline: none;
    color: #666;
    padding: 8px 10px;

    &.big {
        font-size: 1.8rem;
        padding: 15px 10px;
    } }



// Checkboxes
// ------------------------------------------------------------------------------------ */
.form__checkboxes {
    @extend %form-well;
    // @include debugbg;
    // @extend %debug;
    float: left;
    width: 100%;
}

.form__checkbox-wrap {
    @extend %clearfix;
    width: 100%;
    clear: both;
    margin: 0 10px $main_margin/2+10 $main_margin;
}
.form__checkbox-wrap--half {
    position: relative;
    // @include debugbg(blue);
    float: right;
    clear: right;
    width: 60%;

    // This guy is here to remove the bottom margin of the last checkbox wrapper
    &:last-child {
        .checkbox__input-label {
            margin-bottom: 0;
        }
    }
}

.checkbox__label {
    @extend .form__label;
    font-size: 1.6rem;
    position: relative;
    float: left;
    width: 40%;
    text-align: left;
    color: #666;
}
.checkbox__input {
    position: absolute;
    left: 0;
    margin: 2px 10px 0 0;
}
.checkbox__in

put-label {
    @extend .form__label;
    width: 100%;
    text-align: left;
    padding-left: 25px;
    line-height: 1.2;
}

// Textarea
// ------------------------------------------------------------------------------------ */
.form__textarea {
    @extend %form-well;
    @extend %clearfix;
    width: 100%;
    float: left;
    margin: 0 0 $main_margin/2;
}

.form__textarea-label {
    @extend .form__label;
    text-align: left;
    margin: rem(7) 0 rem(10);
    color: #666;
    font-size: 1.6rem;
}

.form__textarea-input {
    @extend .form__text-input;
    font-size: 1.6rem;
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: 80px;
    float: left;
}

// Select Box
// ------------------------------------------------------------------------------------ */
.form__select {
    @extend %form-well;
    float: left;
    width: 100%;
}

.form__select-label {
    @extend .form__label;
    font-size: 1.6rem;
    float: left;
    text-align: left;
    color: #666;
    margin-bottom: 0;
}

.form__select-box {
    font-size: 1.5rem;
    float: right;
    width: 60%;
    height: 30px;
    margin: -2px 0 0;
    border-radius: 4px;
    border: 1px solid #CCC;
}

// Form Button
// --------------------------------------------------------------------------------------- */
.form__btn-row {
    clear: both;
    margin: 0 0 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__btn {
    display: block;
    width: 100%;
    margin: 0;
    height: auto;
    text-align: center;
    font-weight: $normal;
    color: rgba($white, 0.9);
    outline: none;
    cursor: pointer;
    line-height: 50px;
    line-height: 1;
}

// Form Hidden
// ------------------------------------------------------------------------------------ */
.form__show-hidden {
    @extend %clearfix;
    font-size: 1.3rem;
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 -4px;
    padding: $main_padding;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}

.form__hidden {
    @extend %form-well;
    backface-visibility: visible;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    float: left;
    padding: 0;

    .form__text, .form__select {
        background: none;
        box-shadow: none;
        padding: 0;
    }
}

.form__hidden-items {
    @extend %clearfix;
    float: left;
    display: none;
    padding: $main_padding;
    border-top: 1px solid $light_gray;
}

// Form Collapse View
// ------------------------------------------------------------------------------------ */
.form-collapse {
    width: 100%;
    border: 1px solid $border_gray;
    margin: 0 0 $main_margin/2;

    textarea {
        width: 100%;
    }
}

.form-header {
}

.form-header__small {
  background: $light_gray;
  padding: $main_padding/4;
  border-bottom: 1px solid $border_gray;
}

.form-header__text {
  font-size: 1.2rem;
  margin: 0;
}

.form-content {
    padding: $main_padding/4;
}

.form-footer {
    background: $light_gray;
    padding: $main_padding/4;
    border-top: 1px solid $border_gray;
}

// Required Fields
// ------------------------------------------------------------------------------------ */
.required {
  &:after {
    margin-left: 0.5rem;
    font-weight: $bold;
    content: '*';
    color: $danger_color;
  }
}

.danger {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $bold;
  font-size: 1.2rem;
  color: $danger_color;
}
