// Messages Component (Information, Success, Errors, etc)
.message {
  display: flex;
  margin: 0 0 $main_margin/4;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;

  &.is-hidden {
    display: none;
  }
}

.message--success {
  @extend .message;
  background: $success-color;
}

.message--warning {
  @extend .message;
  background: $warning-color;
}

.message--danger {
  @extend .message;
  background: $danger-color;
}

.message__text {
  font-size: 1.5rem;
  line-height: 1.3;
  color: $white !important;
  display: table-cell;
  vertical-align: middle;
  padding: $main_padding/6 $main_padding/6;
  margin: 0;
}

.message__text--full {
  width: 100%;
}

.message__btn-close {
  font-size: 21px;
  font-weight: 800;
  vertical-align: middle;
  opacity: 0.6;
  display: block;
  color: $white;
  margin-right: 1rem;
//  width: 44px;
//  height: 44px;

  &:hover,
  &:active {
    opacity: 1;
  }
}
