.table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $bcg10;
  }

  th {
    color: $tc1;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: #999;
  }

  td {
    font-size: 1.4rem;
    color: #777;
    vertical-align: middle;
  }

  th, td {
    text-align: left;
    padding: 1rem 0;

    &:last-child {
      text-align: right;
    }

    &.id {
      min-width: 2.5rem;
      text-align: center;
    }

    &.actions {
      text-align: center;
    }

    &.active-status {
      min-width: 4rem;
      max-width: 4rem;
      text-align: center;
    }
  }

  code {
    font-size: 1.4rem;
    background: $bgg05;
    color: $tcg50;
    border-radius: 2px;
    padding: 4px 7px;
  }

  form {
    float: right;
  }
}
