.table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $border_gray;
  }

  th {
    color: $branding_color;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: #999;
  }

  td {
    font-size: 1.4rem;
    color: #777;
  }

  th, td {
    text-align: left;
    padding: $main_padding/3 0;

    &:last-child {
      text-align: right;
    }

    &.id {
      min-width: 2.5rem;
      text-align: center;
    }

    &.actions {
      text-align: center;
    }

    &.active-status {
      min-width: 4rem;
      max-width: 4rem;
      text-align: center;
    }
  }

  code {
    font-size: 1.4rem;
    background: $light_gray;
    color: $branding_gray;
    border-radius: 4px;
    padding: 6px 10px;
  }

  form {
    float: right;
  }
}
