// Basic Text
// ------------------------------------------------------------------------------------ */

.text {}

.text--success {
  color: $danger-color;
}

.text--warning {
  color: $danger-color;
}

.text--danger {
  color: $danger-color;
}

// Text Alignment
// ------------------------------------------------------------------------------------ */
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
