<div class="SelectedFilters">
    <div class="SelectedFilters__wrap">
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
        <a href="#" class="SelectedFilters__filter Badge dib tcg30 bgg10 ft-1">Filter Name <svg class="Icon Icon--close ic-2 icg30"><use xlink:href="#icon-close"></use></svg></a>
    </div>
</div>