// Flexbox Layout Grid
//-------------------------------------------------------------------------- */
.g-row {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media($md)
  {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    //    justify-content: space-between;
  }
}

// Add this to give your columns default gutter spacing
.g-row--sm {
  [class*="g-col-"] {
    @include media($md)
    {
      margin-right: $spacing-horz-md/2;
    }

    @include media($lg)
    {
      margin-right: $spacing-horz-lg/2;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.g-row--lg {
  [class*="g-col-"] {
    @include media($md)
    {
      margin-right: $spacing-horz-md;
    }

    @include media($lg)
    {
      margin-right: $spacing-horz-lg;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.g-row--wrap {
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .g-col-#{$i} {
    flex: $i;
  }
}

// Full Width Column
// ------------------------------------------------------------------------------------ */
.g-full {
  width: 100%;
  flex: 1 1 100%;
}

.align-items-center {
  align-items: center;
}

.flex-end {
  align-self: flex-end;
}

// Reordering Columns
// ------------------------------------------------------------------------------------ */
.g-col--last { order: 1; }

.g-col-sm--first {
  order: 0 !important;
}

.g-col-md--first {
  @include media($md)
  {
    order: 0 !important;
  }
}

.g-col-lg--first {
  @include media($lg)
  {
    order: 0 !important;
  }
}

.g-col-sm--last {
  order: 1 !important;
}

.g-col-md--last {
  @include media($md)
  {
    order: 1 !important;
  }
}

.g-col-lg--last {
  @include media($lg)
  {
    order: 1 !important;
  }
}

// Responsive Grid Helpers
// ------------------------------------------------------------------------------------ */
.g-flex {
  display: flex;
  flex-wrap: wrap;
}

.g-item {
  display: flex;
}

.g2 {
  flex: 1 0 50%;
}

@include media($sm)
{
  .g2-sm {
    flex: 1 0 50%;
  }

  .g3-sm {
    width: 25%;
  }
}

@include media($md)
{
  .g3-md {
    flex: 1 0 33.333333%;
  }

  .g4-md {
    flex: 1 0 25%;
  }
}


@include media($lg)
{
  .g5-lg {
    flex: 1 0 20%;
  }
}

// Float-based Grid Helpers
// ------------------------------------------------------------------------------------ */
.f-grid {
  @extend %clearfix;
}

.f-item {
}

@include media($sm)
{
  .f2-sm {
    width: 50%;
  }
}

@include media($md)
{
  .f3-md {
    width: 33.33333333%;
  }
}

@include media($lg)
{
  .f4-lg {
    width: 25%;
  }
}
