// Padding
// ------------------------------------------------------------------------------------ */
.pv {
  padding-top: $spacing-horz-lg;
  padding-bottom: $spacing-horz-lg;
}

.pad {
  padding: $spacing-horz-lg;
}
