// Padding
// ------------------------------------------------------------------------------------ */
.pv {
  padding-top: $spacing-horz-lg;
  padding-bottom: $spacing-horz-lg;
}

.pad {
  padding: $spacing-horz-lg;
}

.pt {
  padding-top: $spacing-horz-lg;
}

.pb {
  padding-bottom: $spacing-horz-lg;
}

.pts {
  padding-top: $spacing-horz-lg/2;
}
