<section class="SongRowCollection wrap mv">
    <article class="SongRow" ng-repeat="i in [1,2,3,4] track by $index">
        <div class="SongRow__wrap">
            <div class="SongRow__artwork-play">
                <div class="ArtworkHolder fl">
                    <button class="PlayButton">Play</button>
                    <img ng-src="http://lorempixel.com/600/600/nature/{{ $index }}" alt="Playlist placeholder"
                         class="ArtworkHolder__img ArtworkHolder__img--xsm"/>
                </div>
                <div class="SongRow__meta fl">
                    <h3 class="SongRow__title ft-1 md-ft-3 tcg70"><a class="tcg60 link" href="#">Have Each Other</a></h3>
                    <div class="SongRow__artist ft-1 md-ft-2"><a class="tcg60 link" href="#">Monako Davis</a></div>
                </div>
            </div>
            <div class="SongRow__categories ft-1"><a href="#" class="tcg60">Pop</a>, <a href="#" class="tcg60">Indie</a>
            </div>
            <div class="SongRow__duration ft-1 tcg60">3:03</div>
            <div class="SongRow__waveform ft-1">&mdash;</div>
            <div class="SongRow__actions">
                <button class="AddToWishlistButton AddToWishlistButton--xsm fl willRotateLeft45">Buy</button>
                <button class="AddToCartButton AddToCartButton--push-left AddToCartButton--xsm fl">Add to Cart</button>
            </div>
        </div>
    </article>
</section>
