<div class="PlaylistCollectionItem" ng-repeat="i in [1,2,3,4,5] track by $index">
    <article class="Playlist">
        <img ng-src="http://lorempixel.com/600/600/nature/{{ $index }}" alt="Playlist placeholder" class="Playlist__img"/>
        <div class="Playlist__content">
            <div class="Playlist__title">What's New Vol. 6</div>
            <p class="Playlist__desc">For your summery scenes, we've got a beautiful batch of lighthearted tracks with brilliant Pop undertones.</p>
        </div>
    </article>
</div>