.table {
    width: 100%;

    tr {
        border-bottom: 1px solid $border_gray;
    }

    th {
        color: $branding_color;
        font-weight: $normal;
    }

    th, td {
        @include font-size(14);
        text-align: left;
        padding: $main_padding/4 0;

        &:last-child {
            text-align: right;
        }

        &.id {
            min-width: rem(25);
            text-align: center;
        }

        &.actions {
            text-align: center;
        }

        &.active-status {
            min-width: rem(40);
            max-width: rem(40);
            text-align: center;
        }
    }

    code {
        @include font-size(12);
        @include whiteshadow;
        background: $light_gray;
        color: $branding_gray;
        border-radius: 4px;
        padding: 6px 10px;
    }

    form { display: inline-block; }

    // .btn {
    //     @include button(simple, $branding_color);
    //     @include font-size(14);
    //     font-weight: $normal;

    //     @include modifier('danger') {
    //         @include button(simple, #ff0000);
    //         @include font-size(14);
    //         font-weight: $normal;
    //     }
    // }
}