<div class="Player__artwork-blur">
    <img src="http://lorempixel.com/600/600/nature/1" alt="Playlist placeholder"
         class="Player__artwork-blur-img"/>
</div>
<div class="Player__wrap">
    <div class="Player__artwork">
        <div class="ArtworkHolder">
            <img src="http://lorempixel.com/600/600/nature/1" alt="Playlist placeholder"
                 class="ArtworkHolder__img ArtworkHolder__img--play"/>
            <button class="PlayButton x-only-md x-only-lg"></button>
        </div>
    </div>
    <div class="Player__meta">
        <div class="Player__song-name ft-1 md-ft-3 tcw">Make You Happy</div>
        <div class="Player__song-artist ft-1 tcw">Scientist</div>
    </div>

    <div class="Player__controls">
        <button class="Player__btn-volume x-only-sm">Volume</button>
        <progress class="Player__volume" max="100" value="50" style="display: none">
            <div class="Player__progress-bar">
                <span style="width: 80%;">Progress: 80%</span>
            </div>
        </progress>
        <button class="Player__btn-prev">Previous</button>
        <button class="Player__btn-play Player__btn-play--is-paused">Play</button>
        <button class="Player__btn-next">Next</button>
    </div>

    <div class="Player__progress x-only-sm x-only-md">
        <div class="Player__elapsed-time ft-3 tcw">00:39</div>
        <div class="Player__waveform ft-5 tcw tac">Waveform</div>
        <div class="Player__total-time ft-3 tcw">05:16</div>
    </div>
</div>